/* ---- reset ---- */

body {
	margin: 0;
	background-color: #010102;
	cursor: pointer;
}

canvas {
	display: block;
	vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* Planets */

.container {
	width: 520px;
	height: 520px;
	top: 400px;
	margin: 0 auto;
	margin-left: 40vw;
	position: fixed;
	padding: 40px;
	z-index: 100;
}

.sun {
	width: 240px;
	height: 240px;
	background: url(assets/img/sun.png) no-repeat;
	background-size: cover;
	border-radius: 50%;
	z-index: 13;
}

.earth {
	width: 40px;
	height: 40px;
	background: url(assets/img/earth.png) no-repeat;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	top: 140px;
	left: -80px;
	box-shadow: 20px 20px 10px 2px #000000cc;
	animation: earth-rotate 4s infinite;
	/* animation-timing-function: linear; */
	z-index: 1;
}

@keyframes earth-rotate {
	50% {
		left: calc(100% - 270px);
		/* top: calc(100% - 40px); */
	}

	100% {
		z-index: -1;
	}
}

.jupiter {
	width: 80px;
	height: 80px;
	background: url(assets/img/jupiter.png) no-repeat;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	top: 140px;
	left: -420px;
	box-shadow: 20px 20px 10px 2px #000000cc;
	animation: jupiter-rotate 12s infinite;
	animation-timing-function: linear;
	animation-delay: 0.4s;
	z-index: 3;
}

@keyframes jupiter-rotate {
	50% {
		left: calc(100% + 200px);
		z-index: 1;
	}

	100% {
		z-index: -3;
	}
}

.saturn {
	width: 70px;
	height: 70px;
	background: url(assets/img/saturn.png) no-repeat;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	top: 140px;
	left: -250px;

	animation: saturn-rotate 6s infinite;
	animation-timing-function: linear;
	animation-delay: 0.3s;
	z-index: 4;
}

@keyframes saturn-rotate {
	50% {
		left: calc(100% + 30px);
	}

	100% {
		z-index: -4;
	}
}

.mars {
	width: 50px;
	height: 50px;
	background: url(assets/img/mars.png) no-repeat;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	top: 140px;
	left: -100px;
	box-shadow: 20px 20px 10px 2px #000000cc;
	animation: mars-rotate 6s infinite;
	animation-timing-function: linear;
	animation-delay: 0.2s;
}

@keyframes mars-rotate {
	50% {
		left: calc(100% - 200px);
	}

	100% {
		z-index: -3;
	}
}

.green-planet {
	width: 90px;
	height: 70px;
	background: url(assets/img/green-planet.png) no-repeat;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	top: 140px;
	left: -550px;
	box-shadow: 20px 20px 10px 2px #000000cc;
	animation: green-rotate 15s infinite;
	animation-timing-function: linear;
	animation-delay: 0.2s;
	z-index: 10;
}

@keyframes green-rotate {
	50% {
		left: calc(100% + 300px);
	}

	100% {
		z-index: -5;
	}
}

/* Navbar */

.sidebar {
	font-family: 'Baloo Bhaijaan', cursive;
	position: fixed;
	top: 0;
	left: -50%;
	width: 50%;
	height: 100%;
	background: rgba(22, 21, 21, 0.95);
	transition: 0.5s;
	text-transform: uppercase;
	z-index: 300;
}

.sidebar.active {
	left: 0;
}

.toggle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -80px;
	width: 80px;
	height: 80px;
	background: #0eb6f8;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.toggle::before {
	content: '';
	position: relative;
	left: 0;
	width: 30px;
	height: 30px;
	border-top: 4px solid #000;
	border-right: 4px solid #000;
	transform: rotate(45deg);
	transition: 0.5s;
}

.sidebar.active .toggle::before {
	transform: rotate(225deg);
}

.sidebar ul {
	margin: 0;
	margin-top: 30vh;
	padding: 40px;
	transition: 0.5s;
	transform: translateX(-100%);
}

.sidebar.active ul {
	transform: translateX(0);
	transition-delay: 0.2s;
}

.sidebar ul li {
	list-style: none;
	line-height: 1.8;
}

.sidebar ul li a {
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	padding: 0 20px;
	transition: 0.5s;
	text-shadow: 0 2x 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 800px) {
	.sidebar ul li a {
		font-size: 15px;
	}


}

.sidebar ul li a:hover {
	letter-spacing: 5px;
	transform: translateX(20px);
}

.sidebar ul li a::before {
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 10%;
	background: #0eb6f8;
	z-index: -1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
}

.sidebar ul li a:hover::before {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.5s;
}


@media (max-width: 768px) {
	.container {
		margin-left: 10vw;
		top: 150px;
	}

	.sidebar ul li a:hover {
		letter-spacing: 0px;
	}

	.toggle {
		width: 40px;
		height: 40px;
		right: -40px;
	}

	.toggle:before {
		width: 15px;
		height: 15px;
	}
}